.form {
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 6px;
  border: none;
  background-color: transparent;
  outline: none;
}

.inputMain {
  color: #fff;
  width: 100%;
}

.inputSide {
  color: #ff4757;
}

.inputMain::placeholder {
  color: #ff4757;
}

.inputSide::placeholder {
  color: #fff;
}

.inputSide:focus {
  background-color: #fff;
  filter: drop-shadow(0px 0px 5px rgba(235, 77, 75, 0.22));
}

.inputMain:focus {
  background-color: #ff4757;
  filter: drop-shadow(0px 0px 5px rgba(235, 77, 75, 0.22));
}

.inputSide:focus.inputSide::placeholder {
  color: #ff4757;
}

.inputMain:focus.inputMain::placeholder {
  color: #fff;
}

.btn {
  font-size: 24px;
  margin-right: 20px;
  color: #fff;
}

.btnSide {
  color: #fff;
}

.btnMain {
  color: #ff4757;
}
