.text {
  font-style: italic;
  color: #fff;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #fff;
}

.item:last-child {
  margin-bottom: 0;
}

.link {
  width: 100%;
  display: flex;
  align-items: baseline;
}

.active {
  text-decoration: underline;
}

.name {
  font-size: 14px;
}

.amount {
  justify-self: end;
  margin-left: auto;
  font-size: 12px;
}

.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color: #fff;
  width: 20px;
  height: 20px;
}
