.filter {
  position: relative;
  margin-bottom: 20px;
}
.input {
  padding-top: 10px;
  padding-left: 35px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 6px;
  border: none;
  background-color: rgb(213, 213, 213);
  color: rgb(0, 0, 0);
  outline: none;
}

.input::placeholder {
  color: rgb(0, 0, 0);
}

.icon {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}
