.aside {
  padding: 30px;
  width: 20%;
  height: 100%;
  background-color: #ff4757;
  color: #fff;
  overflow-y: scroll;
}

.controls {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(170, 170, 170);
}

.controls .btn {
  display: block;
  margin-bottom: 10px;
}

.btn {
  display: block;
  margin-bottom: 20px;
}

.active {
  text-decoration: underline;
}
