.completed {
  text-decoration: line-through;
  margin-right: 40px;
  transition: text-decoration 4s cubic-bezier(0.23, 1, 0.32, 1);
}

.uncompleted {
  margin-right: 40px;
}

.Task {
  position: relative;
  padding: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 5px rgba(235, 77, 75, 0.22));
  cursor: pointer;
}

.Task:last-child {
  margin-bottom: 0;
}

.checkBtn {
  position: relative;
  margin-right: 20px;
}

.closeBtn {
  margin-left: auto;
}

.UncheckboxIcon {
  width: 25px;
  height: 25px;
  opacity: 1;
}

.CheckboxIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  transition: opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.UncheckboxIcon,
.CheckboxIcon {
  fill: #ff4757;
}

.unchecked {
  opacity: 0;
}

.checked {
  opacity: 1;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.info {
  position: absolute;
  top: 10px;
  right: 100px;
  display: flex;
  align-items: center;
}

.info div {
  display: flex;
  align-items: center;
  color: grey;
  font-size: 12px;
}

.folder {
  margin-right: 20px;
}

.folderIcon,
.dateIcon {
  margin-right: 10px;
  fill: #ff4757;
  width: 15px;
  height: 15px;
}

.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  color: #ff4757;
  border-radius: 50%;
  background-color: #fff;
  width: 30px;
  height: 30px;
}

.deleteBtn:hover,
.deleteBtn:focus {
  background-color: #ff4757;
  color: #fff;
}
